[workspace]
name = "pixi-diff-to-markdown"
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]
preview = ["pixi-build"]

[package]
name = "pixi-diff-to-markdown"
version = "0.3.7"
license = "BSD-3-Clause"
[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.host-dependencies]
python = ">=3.14"
pip = "*"
hatchling = "*"

[package.run-dependencies]
python = ">=3.14"
pydantic = ">=2.12.3,<3"
py-rattler = ">=0.16.0,<0.17"
ordered-enum = ">=0.0.10,<0.0.11"
typer = ">=0.20.0,<0.21"
pydantic-settings = ">=2.11.0,<3"
more-itertools = ">=10.8.0,<11"

[dependencies]
pixi-diff-to-markdown = { path = "." }

[feature.test.dependencies]
pytest = ">=9.0.1,<10"
pytest-cov = ">=7.0.0,<8"
ty = ">=0.0.2"
[feature.test.tasks]
test = "pytest"
test-coverage = "pytest --cov=pixi_diff_to_markdown --cov-report=xml --cov-report=term-missing"
test-write = "pytest --write-results"

[feature.build.dependencies]
python-build = ">=1.3.0,<2"
twine = ">=6.2.0,<7"
wheel = ">=0.45.1,<0.46"
hatchling = ">=1.27.0,<2"
[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."
check-wheel = "twine check dist/*"

[feature.lint.dependencies]
pre-commit = ">=4.5.0,<5"
ruff = ">=0.14.7,<0.15"
prettier = ">=3.7.3,<4"
taplo = ">=0.10.0,<0.11"
pre-commit-hooks = ">=5.0.0,<6"
typos = ">=1.40.0,<2"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.py314.dependencies]
python = "3.14.*"

[environments]
default = ["test"]
py314 = ["py314", "test"]
build = ["build"]
lint = { features = ["lint"], no-default-feature = true }
