[project]
name = "pixi-diff-to-markdown"
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."
pixi-diff-to-markdown = "pixi-diff-to-markdown"

[dependencies]
python = ">=3.12"
pydantic = ">=2.7.1,<2.8"
py-rattler = ">=0.5.0,<0.6"
ordered_enum = ">=0.0.8,<0.1"
typer = ">=0.12.3,<0.13"
pydantic-settings = ">=2.2.1,<2.3"
more-itertools = ">=10.3.0,<11"

[host-dependencies]
pip = "*"
hatchling = "*"

[feature.test.dependencies]
pytest = "*"
mypy = "*"
[feature.test.tasks]
test = "pytest"
test-write = "pytest --write-results"

[feature.py312.dependencies]
python = "3.12.*"

[feature.lint.dependencies]
pre-commit = "*"
ruff = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run --all-files"

[feature.build.dependencies]
python-build = "*"
twine = "*"
[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."
check-wheel = "twine check dist/*"

[environments]
default = ["test", "py312"]
py312 = ["test", "py312"]
build = ["build"]
lint = { features = ["lint"], no-default-feature = true }
