[project]
name = "pixi-diff-to-markdown"
channels = ["conda-forge", "conda-forge/label/ty_alpha"]
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."
pixi-diff-to-markdown = "pixi-diff-to-markdown"

[dependencies]
python = ">=3.13"
pydantic = ">=2.11.4,<3"
py-rattler = ">=0.14.0,<0.15"
ordered_enum = ">=0.0.9,<0.0.10"
typer = ">=0.16.0,<0.17"
pydantic-settings = ">=2.9.1,<3"
more-itertools = ">=10.7.0,<11"

[host-dependencies]
pip = "*"
hatchling = "*"

[feature.test.dependencies]
pytest = "*"
pytest-cov = "*"
ty = "*"
[feature.test.tasks]
test = "pytest"
test-coverage = "pytest --cov=pixi_diff_to_markdown --cov-report=xml --cov-report=term-missing"
test-write = "pytest --write-results"

[feature.build.dependencies]
python-build = "*"
twine = "*"
wheel = "*"
[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."
check-wheel = "twine check dist/*"

[feature.lint.dependencies]
pre-commit = "*"
ruff = "*"
prettier = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.py313.dependencies]
python = "3.13.*"

[environments]
default = ["test"]
py313 = ["py313", "test"]
build = ["build"]
lint = { features = ["lint"], no-default-feature = true }
