[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pixi-diff-to-markdown"
version = "0.2.2"
description = "Tool for converting `pixi update` diffs to markdown"
readme = "README.md"
authors = [{ name = "Pavel Zwerschke", email = "pavelzw@gmail.com" }]
classifiers = [
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.12",
]
requires-python = ">=3.12"
dependencies = [
  "pydantic >=2.7.1,<3",
  "py-rattler >=0.5.0,<0.6",
  "ordered-enum >=0.0.8,<0.1",
  "typer >=0.12.3,<0.13",
  "pydantic-settings >=2.2.1,<3",
  "more-itertools >=10.3.0,<11",
]

[project.urls]
repository = "https://github.com/pavelzw/pixi-diff-to-markdown"

[project.scripts]
pixi-diff-to-markdown = "pixi_diff_to_markdown.__main__:app"

[tool.ruff]
line-length = 88

[tool.ruff.lint]
ignore = [
  "N803", # https://docs.astral.sh/ruff/rules/invalid-argument-name
  "N806", # https://docs.astral.sh/ruff/rules/non-lowercase-variable-in-function
  "E501", # https://docs.astral.sh/ruff/faq/#is-the-ruff-linter-compatible-with-black
]
select = [
  # pyflakes
  "F",
  # pycodestyle
  "E",
  "W",
  # isort
  "I",
  # pep8-naming
  "N",
  # pyupgrade
  "UP",
]

[tool.mypy]
python_version = '3.12'
no_implicit_optional = true
check_untyped_defs = true

[tool.typos.default.extend-words]
ba = "ba"
